.wrapper-weather-panel {
   padding: 40px 0;
}

.weather-panel {
   background: rgba(255, 255, 255, 0.3);
   border-radius: 13.9839px;
   width: 100%;
   min-height: 240px;
   border: 2px solid #BFBFBFB2;
   border-radius: 22px;
   padding: 10px 45px;

   &__date {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
      font-family: 'Overpass', sans-serif;
      text-align: center;
      margin-bottom: 15px;
   }

   &__temperature {
      font-weight: normal;
      font-size: 70px;
      line-height: 89px;
      color: #FFFFFF;
      text-shadow: -2.79677px 5.59354px 34.9597px rgba(0, 0, 0, 0.1);
      font-family: 'Overpass', sans-serif;
      text-align: center;
      margin-bottom: 20px;
      
   }

   &__sky {
      font-weight: bold;
      font-size: 16.7806px;
      line-height: 21px;
      color: #FFFFFF;
      text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
      text-align: center;
      margin-bottom: 18px;
   }
}

.windy {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   color: #FFFFFF;
   text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
   margin-bottom: 11px;
}

.humidity {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   color: #FFFFFF;
   text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
}